body{
    background-color: blue;
}
.form{
    width: 500px;
    height: 300px;
    border: solid rgb(84, 128, 205) 10px;
    margin: 190px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last{
    margin: 10px 0;
}
.sumbit{
    margin-top: 10px;
}

